@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* .App {
  text-align: center;
  
} */

body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Roboto, Arial;
  font-weight: bold;
  text-align: center;
}

/* .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  padding: 20px;
} */

.card {
  /* padding-left: 20px;
  padding-right: 20px; */
  background-image: url('./components/img/paper-bg.jpg');
  object-fit: cover;
  color: #282c34;
  margin: 20px;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.2);
  transition: 0.3s;}

.custom-btn {
  border: #fff !important;
}

.side-logo {
  height: 85vmin;
  margin-right: 20px;
  margin-left: -16%;
  justify-content: left;
  position: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
