@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Special+Elite&display=swap');

/* .App {
  text-align: center;
  
} */

@font-face {
  font-family: "CustomFont";
  src: url("./components/fonts/JackportCollege.ttf");
}

@font-face {
  font-family: "CustomFont2";
  src: url("./components/fonts/collegiate/CollegiateFLF.ttf");
}

@font-face {
  font-family: "Impact";
  src: url("./components/fonts/impact/Impact.ttf");
}

@font-face {
  font-family: "Reversed_Impact";
  src: url("./components/fonts/impact/Impact_reversed.ttf");
}

.banner {
  /* margin-top: 50px; */
  float: left;
  margin-top: -40px;
  margin-left: -10px;
}

.logotop {
  float: right;
  width: 280px;
  margin-top: -40px;
  margin-left: -350px;

}

.header {
  position: absolute;
  margin-top: -190px;
  margin-left: 0%;
  font-family: "Impact";
  /* font-family: 'CustomFont2'; */
  /* font-family: 'Graduate', cursive; */
  /* font-family: 'Special Elite', cursive; */
  font-weight: bold;
  color: #282C34;
}


body {
  padding: 40px;
  font-weight: bold;
  text-align: center;
}

.container {
  font-family: "Special Elite";
  font-weight: bold;
  color: "#F4C7A9"
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


.card {
  /* padding-left: 20px;
  padding-right: 20px; */
  background-image: url('./components/img/red_wood.jpg');
  color: #282C34;
  margin: 20px;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.2);
  transition: 0.3s;}


.side-logo {
  height: 85vmin;
  margin-right: 20px;
  margin-left: -16%;
  justify-content: left;
  position: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
