@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Special+Elite&display=swap');

@font-face {
  font-family: "CustomFont";
  src: url("./components/fonts/JackportCollege.ttf");
}

@font-face {
  font-family: "CustomFont2";
  src: url("./components/fonts/collegiate/CollegiateFLF.ttf");
}

@font-face {
  font-family: "Impact";
  src: url("./components/fonts/impact/Impact.ttf");
}

@font-face {
  font-family: "Reversed_Impact";
  src: url("./components/fonts/impact/Impact_reversed.ttf");
}

@font-face {
  font-family: "Gunplay";
  src: url("./components/fonts/gunplay.ttf");
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-weight: bold;
  text-align: center;
}

.container {
  font-family: Gunplay;
  font-weight: bold;
}

h1 {
  box-shadow: 0 30px 20px 0 rgba(0,0,0,0.2);
}